<br>

<footer id="footer">
    <div class = footer-block> <p>Property of Bailey Blackstock</p> </div>
    <div class = footer-block> <p>0455 318 431</p> </div>
    <div class = footer-block> <p>baileyblackstock02@gmail.com</p> </div>
</footer>

<br>